@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gazli Icecekler Arşiv Platform </h1>
    <p>
        </br>
        Daha Fazlasını öğrenmek için Ula<a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core ile Web app uygulaması gerçekleştirildi...</a>
    </p>
</div>
